@{
    ViewData["Title"] = "Благодарим за покупку авиабилета";
}

<div class="text-center">
    <h1 class="display-4">Благодарим за покупку авиабилета</h1>
    <p>Мы рады, что вы приобрели авиабилет. Желаем вам приятного полета и удачной поездки!</p>
</div>
